<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="text-center" style="width: 1200px; color: red; margin: 10px 10px 10px;">{{title}}</h1>
    </div>
    <div class="col-md-4">
      <div class="alert alert-success alert-dismissable" *ngIf="msg">
        <a href="#" class="close" (click)="clickMe()">&times;</a>{{msg}}
      </div>
    </div>
  </div>
  <div class="clearfix">
    <hr>
    <h1>Create Data:</h1>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model1.name" placeholder="Enter product name">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="qty">Quantity:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="qty" name="qty" [(ngModel)]="model1.qty" placeholder="Enter product quantity">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="price">Price:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="price" name="price" [(ngModel)]="model1.price" placeholder="Enter product price">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success" (click)="addProduct()">Save</button>
        </div>
      </div>
    </form>
    <h1>Read Data & Delete Data:</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width=400>Name</th>
          <th width=400>Quantity</th>
          <th width=400>Price</th>
          <th width=400>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i=index">
          <td>{{product.name}}</td>
          <td>{{product.qty}}</td>
          <td>{{product.price}}</td>
          <td>
            <a class="btn btn-success"(click)="editProduct(i)">Edit</a>
            <a class="btn btn-danger"(click)="deleteProduct(i)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
    <h1>Update Data:</h1>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model2.name" placeholder="Enter product name">
        </div>
      </div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>